<div class="container">
    <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
        <h2>Please choose your username</h2>
        <mat-form-field class="full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Enter your username" formControlName="username" [errorStateMatcher]="matcher">
            <mat-error>
                <span *ngIf="!loginForm.get('username')!.valid && loginForm.get('username')!.touched">Please enter a
                    username</span>
            </mat-error>
        </mat-form-field>
        <div class="button-row">
            <button type="submit" [disabled]="!loginForm!.valid" mat-fab color="primary">
                Enter
            </button>
        </div>
    </form>
</div>